<div class="jumbotron">
    <h1>Dismantling facility</h1>
    <p class="lead">Police Access point</p>
</div>

@if ((bool)ViewData["no_car"] == true)
{
<div class="alert alert-danger" role="alert">
    No cars were found, try another VIN.
</div>
}
<div class="row">
    <div class="col-md-8">
        <h2>Search by Car VIN</h2>

        @using (Html.BeginForm("CarSearch", "Home", FormMethod.Get))
    {
        <div class="form-group">
            <label for="VIN">VIN no.</label>
            <input type="text" name="SearchString" class="form-control" id="VIN" placeholder="Enter VIN">
        </div>

        <div class="form-group">
            <input type="submit" value="Filter" class="btn btn-default" />
        </div>
}
    </div>

    <div class="col-md-4">
        <h2>Factory Statistics</h2>
        <p><b>Cars count: </b>@ViewData["carCount"]</p>
        <p><b>Packages count: </b>@ViewData["packageCount"]</p>
        <p><b>Pallets count: </b>@ViewData["palletCount"]</p>
        <p><b>Parts count: </b>@ViewData["partsCount"]</p>
    </div>
    </div>
